/* 


.items img{
   
    height: 300px;
    
}
.items {
    font-family: Poppins;
   max-width: 220px;
   margin: 0px;
  cursor: pointer;
   
}
.title{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    
   
    
    
    
}
.title h3{
    white-space: nowrap;   
  overflow: hidden;       
  text-overflow: ellipsis; 
  max-width: 180px;  
}
.allitem{
    position: relative;
}
.itemdescr{
    background-color: black;
    width: 250px;
    height: auto;
    position: absolute;
    top: 30px;
    font-size: 14px;
    left: 200px;
    z-index: 1;
    padding: 20px 20px;
    display: none;
    
}
.itemdescr .runtime{
  display: flex;
  justify-content: space-around;
  background-color: blue;
}
.mouseenter{
    display:  inline-block;
    
} */
.allitem{
  
      position: relative;

   
    
}
.movie-item {
    /* aspect-ratio: 1; Maintain a 1:1 aspect ratio (square) */
    /* width: 100%; */
    /* height: 100%; */
  }
.items {
     display: flex;
    flex-direction: column;
    align-items: center;
    
   
    /* width: 195px; */
     /* width: 100%;  */
   /* margin: 0 auto;  Center align within grid item */
     width: auto; 
    
    cursor: pointer;
    /* Add padding for spacing */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
   
}
.items img {
      
   /* height: 270px; */
 
   width:190px; 
   /* width:190px; */
     transition: all 0.6s ease-in-out;

}

.items a{
    text-decoration: none;
    color: aliceblue;
}
.items p{
    font-size: 13px;
    color: aliceblue;
    font-weight: 400;
    padding: 0 3px;

}
.title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
    width: 190px;
  
}

.title h3 {
     white-space: nowrap;     /* Prevents text from wrapping to the next line */
     overflow: hidden;       /*  Ensures that the overflowing text is hidden */
    text-overflow: ellipsis;/* Adds the ellipsis (...) at the end of the truncated text */
    
    font-weight: 600;
    color: aliceblue;
   
}

.genres p{
    color: skyblue;
    font-size: 14px;
    
}

 



/* CSS for itemdescr */
.itemdescr {
    background-color:aliceblue;
    border-radius: 2px;
    width: 260px;
    height: auto;
    position: absolute;
    top: 0px;
    left: 190px;
    font-family: Poppins;
    z-index: 1;
    padding: 10px 0px;
    display: none;
    transition: left 0.3s;
}
.itemdescr p{
    color:rgb(16, 22, 27) ;
    text-align: start;
    padding: 10px 15px;
}
.itemdescr .title2{
    display: flex;
    padding-top: 0;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}
.itemdescr h4{
    color:rgb(55, 85, 112);
    font-size: 18px;
    
    text-align: start;
   
}


.itemdescr .runtime {
    display: flex;
    justify-content: space-around;
    background-color: rgb(213, 213, 243);
    font-size: 13px;
    padding: 0px 0px;
    height: 25px;
    display: flex;
    justify-content: left;
    align-items: center;
    
}
.itemdescr p span{
    text-align: start;
    color: rgb(52, 160, 255);

    font-size: 12px;
    
}
.mouseenter {
    display:  block;
}


.added {
    background-color: grey;
    cursor: not-allowed; 
  }

 
.items .genres{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 0;
}

.items p:hover{
    color:aliceblue;
}
.items img:hover{
  
    transform: scale(1.05);
}
@media (max-width:1550px){
    .items img{
      
       width: 180px; 
     
    }
    .title {
     
        width: 180px;
      
    }
    .title {
        width: 180px;
    
    }
}
@media (max-width:1460px){
    .items img{
      
       width: 175px;
      
    }
    .title {
     
        width: 175px;
      
    }
}
@media  (max-width:1350px){

    
    .items p{
        font-size: 13px;
       
    }
    .itemdescr {
      
        position: absolute;
        top: 0px;
        
        left: 175px;
    }
  }
  @media  (max-width:1280px){

    .items img{
      /* height:  245px; */
      /* width: 175px; */
      width: 163px;
    }
    .items p{
        font-size: 13px;
       
    }
    .title {
        font-size: 13px;
        padding: 5px 0;
        width: 163px;
      
    }
    .itemdescr {
      
        position: absolute;
        top: 0px;
        
        left: 173px;
    }
  }
@media (max-width:1250px){
    .items img{
      width: 160px;
         /* width: 165px;  */
       /* width:auto; */
      }
      .itemdescr {
      
        position: absolute;
        top: 0px;
        
        left: 165px;
    }
    .title {
        width: 160px;
        
    }
}
@media (max-width:1200px){
    .items img{
        width: 160px;
           /* width: 165px;  */
         /* width:auto; */
        }
    .itemdescr {
      
        display: none;
    }
}

@media (max-width:1100px){
    .items img{
        width: 145px;
           /* width: 165px;  */
         /* width:auto; */
        }
        .genres p{
        
            font-size: 11px;
            
        }
        .title {
            width: 145px;
        
        }
        
}
@media (max-width:1000px){
    .items img{
        width: 135px;
           /* width: 165px;  */
         /* width:auto; */
        }
        .title {
            width: 135px;
        
        }
}
@media ( max-width:900px){
    .items img{
        width: 170px;
           /* width: 165px;  */
         /* width:auto; */
        }
        .title {
            width: 170px;
            
        }
}
@media ( max-width:790px){
    .items img{
        width: 160px;
           /* width: 165px;  */
         /* width:auto; */
        }
        .title {
            width: 160px;
            padding: 3px 0;
        }
}
@media only screen and (max-width:700px){
    .items img{
        width: 140px;
    }
    .title h3 {
        font-size: 11px;
    }
    .items p{
        font-size: 10px;
        
        padding: 0 2px;
    }
    .title {
        width: 140px;
    }
    
}
@media only screen and (max-width:600px){
    .items img{
        width: 120px;
    }
    .title {
        width: 120px;
    }
    .items p{
        font-size: 8px;
        
        padding: 0 2px;
    }
}
@media only screen and (max-width:550px){
    .items img{
        width: 100px;
    }
    .title {
        width: 100px;
    }
}
@media only screen and (max-width:450px){
    .items img{
        width: 90px;
    }
    .title {
        width: 90px;
         padding: 2px 0;
    }
    .title h3{
        font-size: 8px;
    }
    .items p{
        font-size: 6px;
        
        padding: 0 1px;
    }
    .items .genres{
        padding: 2px 0px;
    }
}
@media only screen and (max-width:400px){
    .items img{
        width: 80px;
    }
    .title {
        width: 80px;
         padding: 2px 0;
    }
}
  /* .HeartIcon{
   
    
    width: 40px;
    height: 40px;
    
}
.heart{
    width: 100%;
    height: 100%;
   
} */