/* .genresFilter{
    min-height: 80vh;
    margin: 30px 100px;
}

.genressfilter{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 30px;
    
}
.genresFilter h5{
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
} */

.moviehomepage h5{
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 500;
    color: aliceblue;
}
@media (max-width:800px)
{
    .moviehomepage h5{
        font-size: 15px;
    }
}
@media (max-width:500px)
{
    .moviehomepage h5{
        font-size: 10px;
    margin-bottom: 10px;
    }

}
.loading{
    width: 100%;
    min-height: 60vh;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: aliceblue;
  }