
.moviehomepage h5{
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 500;
    color: aliceblue;
}

.movies .noresult{
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: aliceblue;
    flex-direction: column;
    flex: 1;
  }
  
@media (max-width:800px)
{
    .moviehomepage h5{
        font-size: 15px;
    }
}
@media (max-width:500px)
{
    .moviehomepage h5{
        font-size: 10px;
    margin-bottom: 10px;
    }

}