/* .year{
    min-height: 80vh;
    margin: 20px 100px;
}
.yearsfilt{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
   row-gap: 30px;
   
}
.year h5{
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 20px;
    font-family: 'Poppins';
} */
.moviehomepage h5{
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 500;
    color: aliceblue;
}
@media (max-width:800px)
{
    .moviehomepage h5{
        font-size: 15px;
    }
}
@media (max-width:500px)
{
    .moviehomepage h5{
        font-size: 10px;
    margin-bottom: 10px;
    }

}