body {
  margin: 0;
  background-size:  cover;
  background: rgb(146,70,252);
  background: radial-gradient(circle, rgba(146,70,252,1) 0%, rgba(0,0,0,1) 0%, rgba(20,91,111,1) 0%, rgba(20,91,111,1) 52%, rgba(20,91,111,1) 100%) ;
  background-repeat: no-repeat;
  background-attachment: scroll;
height: auto;
width: 100%;

}
body h1 , h2 , h3 , p , h4 {
  font-family: 'Poppins';
  
}

*{
  margin: 0;
 
  
  box-sizing: border-box;
}
