.edit-product {
    box-sizing: border-box;
    width: 100%;
    max-width: 1000px;
    padding: 30px 50px;
    margin: 20px 30px;
    border-radius: 6px;
    background: white;
}

.addproduct-itemfield {
    width: 100%;
    color: #7b7b7b;
    font-size: 16px;
    margin-bottom: 20px; /* Added margin for better spacing between fields */
}

.addproduct-itemfield p {
    margin: 0 0 10px 0; /* Margin for the label */
}

.addproduct-itemfield input,
.addproduct-genres select {
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    border-radius: 4px;
    padding-left: 15px;
    border: 1px solid #c3c3c3;
    outline: none;
    color: #7b7b7b;
    font-family: 'Poppins';
    font-size: 14px;
}

.addproduct-itemfield select {
    width: 100%;
    height: 50px;
    border-radius: 4px;
    padding-left: 15px;
    border: 1px solid #c3c3c3;
    outline: none;
    color: #7b7b7b;
    font-family: 'Poppins';
    font-size: 14px;
  
}
.addproduct-itemfield textarea {
    box-sizing: border-box;
    width: 100%;
    border-radius: 4px;
    padding: 15px; /* Adjust padding for better appearance */
    border: 1px solid #c3c3c3;
    outline: none;
    color: #7b7b7b;
    font-family: 'Poppins';
    font-size: 14px;
}

.addproduct-runtime {
    display: flex;
    gap: 40px;
}

.addproduct-genres {
    display: flex;
    gap: 10px;
    align-items: center;
 
}

.button {
    height: 50px;
    border-radius: 4px;
    background: #6079ff;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 14px;
    padding: 0 20px;
}

.addproduct-itemfield img {
    height: 120px;
    width: 120px;
    border-radius: 10px;
    object-fit: contain;
    margin: 10px 0px;
}

.addproduct-btn {
    margin-top: 20px;
    width: 160px;
    height: 50px;
    border-radius: 6px;
    background: #6079ff;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 16px;
    font-weight: 500;
}
.addproduct-btn {
    margin-top: 20px;
    width: 160px;
    height: 50px;
    border-radius: 6px;
    background: #6079ff;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 16px;
    font-weight: 500;
}
@media (max-width: 800px) {
    .add-product {
        width: auto;
        padding: 30px;
        margin: 20px;
    }
}